<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pharmacy_console.Properties.Settings.pharmacy_loginConnectionString"
            connectionString="Data Source=LAPTOP-THDLSQ6F;Initial Catalog=pharmacy_login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="pharmacy_console.Properties.Settings.DatabaseOfPharmacyConnectionString"
            connectionString="Data Source=LAPTOP-THDLSQ6F;Initial Catalog=DatabaseOfPharmacy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>